fivefrets/fivefrets/__pycache__/
fivefrets/chords/migrations/__pycache__/
fivefrets/chords/estimate/__pycache__/
fivefrets/chords/__pycache__/
notebooks/.ipynb_checkpoints/
semantic_ui/
VAMP/nnls-chroma-1.1/*.so
VAMP/nnls-chroma-1.1/*.o
