body, body.pushable> .pusher {
    background: url('http://fivefrets.com/img/main_banner.jpg') no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div[id^='fflogo_'] {
    padding-top: 0.3em;
}

div[id^='fflogo_']> svg {
    display: block;
    margin: 0 auto;
}

div[id^='ffcdia_']> svg {
    max-width: 100%;
    max-height: 100%;
}

.ui.ffdisabled.button {
    cursor: default;
    background-image: none!important;
    box-shadow: none!important;
    pointer-events: none!important;
}

.ui.segment.chords {
    height: 16.5rem;
    /* 1rem padding top and bottom + 3.5rem for each segment box */
    overflow-y: hidden;
}

.ui.segment.chordslist {
    padding-right: 0em!important;
    padding-left: 0em!important;
}
