body, body.pushable > .pusher {
  background: url('http://fivefrets.com/img/main_banner.jpg') no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div[id^='fflogo_']{
    padding-top: 0.3em;
}
div[id^='fflogo_'] > svg {
    display: block;
    margin: 0 auto;
}
.ui.ffdisabled.button{
    cursor: default;
    background-image: none!important;
    box-shadow: none!important;
    pointer-events: none!important;
}

.ui.segment.chordsProgresion{
    position:relative!important;
    overflow: hidden;
}

.ui.segment.chordsSeqence{
  border-radius: 1.5em;
  float: left;
}
