{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>fivefrets.com | Home</title>
  <script src='{% static "js/modernizr-custom.js" %}'></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href='{% static "css/semantic.min.css" %}' >
  <link rel='stylesheet' href='{% static "css/site.css" %}' />

</head>

<body>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src='{% static "css/semantic.min.js" %}'></script>
</body>

</html>
